/****************************************
 * Default css for the project.
 * Make's the project work 
 * @author Per-Henrik Kvalnes - 2015
 ****************************************/

/** slide styling **/
.slide
{
    margin:25px;
}



/** Navigation styling **/
#navBar
{
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    height:60px;
    background:#EEE;
    text-align:right;
}

.btn
{
    position:relative;
    top:11px;
    padding:5px;
    margin:4px;
    border:1px solid #AAA;
    border-radius:5px;
    background:#CCC;
    font-weight:bold;
    font-size:26px;
    font-family:sans-serif;
}

.btn-disabled
{
    position:relative;
    top:11px;
    padding:5px;
    margin:4px;
    color:#EEE;
    background-color:#FFF;
}

.btn:hover
{
    background:#AAA;
}
	     
