/****************************************
 * Default css for the project.
 * Make's the project work 
 * @author Per-Henrik Kvalnes - 2015
 ****************************************/

/** slide styling **/
.slide
{
    margin:25px;
}



/** Navigation styling **/
#navBar
{
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    background:#FFF;
    background:rgba(255,255,255,0.8);
    text-align:right;
    padding-bottom:4px;
    padding-right:8px;
}

.btn
{
    position:relative;
}

.btn-disabled
{
}

.btn:hover
{

}
	     
